# IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Логи (сами файлы логов не коммитим, но папку можно)
logs/
*.log

# OS
.DS_Store
Thumbs.db